.box {
  height: 100px;
  width: 100px;
  margin: 5px;
  outline: none;
  cursor: pointer;
}

.box-enter {
  opacity: 0;
}
.box-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.box-exit {
  opacity: 1;
}
.box-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}

.box-green {
  background: #00cc66;
  border: 1px solid black;
}
.box-white {
  background: white;
  border: 1px solid black;
}
.box-black {
  background: black;
  border: 1px solid black;
}
.box-orange {
  background: #ff9933;
  border: 1px solid black;
}
.box-red {
  background: #ff3333;
  border: 1px solid black;
}